.add-recipe {
  padding: 40px;
  background-color: #ffffff;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-recipe h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
}

.add-recipe form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
}
input[type="text"],
textarea {
  /* width: 100%; */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #1a73e8;
}

textarea {
  height: 120px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #1a73e8;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #155ab6;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}